.table-style {
  width:100%;
}

.table-style thead {

  /*background: #f1f1f1;*/
  width:100%;

}

.table-style thead th {

  /*border: 1px solid #95999c;
  border-bottom: 2px solid #95999c;
  */

  padding: 0.5rem;
  font-size: 13pt;
}

.table-style tbody tr:nth-child(odd) {
  background: #f1f1f1;

}

.table-style td.number {
  float: right;
}

.table-style tbody td {
  font-size: 8pt;
  height: 5px;
  padding: 0.35rem;
}

.table-style td a {
  color: #0f6674;
}

.table-style-transparent td {
  padding: 0.5rem;
  font-size: 12pt;
}

.table-style-transparent th {
  padding: 0.5rem;
  font-size: 15pt;
}